{% set sex = {0: "Hombre",1: "Mujer"} %}

{% extends '/common/base.html.twig' %}

{% block title %}Listado de alumnos{% endblock %}

{% block head %}
  {{ parent() }}

{% endblock %}

{% block body %}
  {{ parent() }}
  <div class="container">
      <h2 class="page-header">
          {% if enrolment==null or enrolment=='' %}
              Alumnos
          {% else %}
              Alumnos con matricula paga
          {% endif %}
      </h2>

    {% if students|length  == 0 %}
      <p>No hay alumnos.</p>
    {% endif %}
    {% if students|length  > 0 %}
      <div class="table-responsive">
        <table class="table table-striped">
          <tr class="even">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Sexo</th>
            <th>Asociar Responsable</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          {% for student in students %}
            <tr class="{% if students.odd == true  %}">odd{% else %}even{% endif %}">
              <td>{{ student.firstName }}</td>
              <td>{{ student.lastName }}</td>
              <td>{{ student.email }}</td>
              <td>{{ sex[student.sex]}}</td>
              <td><a href="/AssociateStudentAction/{{ student[0] }}/{{ studentID }}">Seleccionar</a></td>
              <td><a href="/UpdateStudent/{{ student.id }}">Edit</a>
              </td>
              <td><a href="/DeleteStudentAction/{{ student.id }}">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for i in 0..(students|length//10) %}
                    <li><a href="#">{{ i+1 }}</a></li>
                {% endfor %}
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}

    <a href="/addStudent" class="btn btn-lg btn-success pull-right">Add</a>
  </div>
{% endblock %}
