{% extends '/common/base.html.twig' %}

{% block title %}Agregar responsable{% endblock %}

{% block head %}
	{{ parent() }}

	<script type="application/javascript">
		$(document).ready (function()
		{
			$('#kind').val({{ guardian.kind }});
            $('#sex').val({{ guardian.sex }});
		});
	</script>
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="container">
		<h2 class="page-header">
            {{ title }}
		</h2>
		<div class="col-md-6 col-md-offset-3">
			<form action="/{{ action }}" method="post" class="form-horizontal">

                <label>Tipo de Responsable</label>
                <select id="kind" name="kind" class="form-control" >
                    <option value="0">Madre</option>
                    <option value="1">Padre</option>
                    <option value="2">Tutor</option>
                </select>

                <label>Nombre:</label>
                <input type="text" name="firstName" class="form-control" value="{{ guardian.firstName }}" required >

                <label>Apellido:</label>
                <input type="text" name="lastName" class="form-control" value="{{ guardian.lastName }}" required >

                <label>Fecha de Nacimiento:</label>
                <input type="date" name="birthDate" class="form-control" value="{{ guardian.birthDate }}" required >

                <label>Sexo:</label>
                <select id="sex" name="sex" class="form-control" >
                    <option value="0">Masculino</option>
                    <option value="1">Femenino</option>
                </select>

                <label>Mail de contacto:</label>
                <input type="email" name="email" class="form-control" value="{{ guardian.email }}">

                <label>Direcci&oacute;n:</label>
                <input type="text" name="address" class="form-control" value="{{ guardian.address }}" required>

                <label>Telefono:</label>
                <input type="text" name="phone" class="form-control" value="{{ guardian.phone }}" required>

                <input type="hidden" name="studentID" value="{{student.id}}" >
                <input type="hidden" name="userId" value="{{user.id}}" >
                <input type="hidden" name="guardianID" value="{{guardian.id}}" >
                <br>
                <br>
                <button class="btn btn-lg btn-success pull-right" type="submit">Enviar Datos</button>

			</form>
		</div>
	</div> <!-- /container -->
{% endblock %}