{% set kind = {0: "Madre",1: "Padre",2: "Tutor"} %}
{% set sex = {0: "Hombre",1: "Mujer"} %}

{% extends '/common/base.html.twig' %}

{% block title %}Listado de responsables{% endblock %}

{% block head %}
  {{ parent() }}

{% endblock %}

{% block body %}
  {{ parent() }}
  <div class="container">

    <h2 class="sub-header">Responsables</h2>

    {% if guardians|length  == 0 %}
      <p>No hay responsables.</p>
    {% endif %}
    {% if guardians|length  > 0 %}
      <div class="table-responsive">
        <table class="table table-striped">
          <tr class="even">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Sexo</th>
           {% if personID != null %} <th>Asignar Responsable</th> {% endif %}
            <th>Editar</th>
            <th>Borrar</th>
          </tr>
          {% for guardian in guardians %}
            <tr class="{% if guardians.odd == true  %}">odd{% else %}even{% endif %}">
              <td>{{ guardian.firstName }}</td>
              <td>{{ guardian.lastName }}</td>
              <td>{{ guardian.email }}</td>
              <td>{{kind[guardian.kind]}}</td>
              <td>{{ sex[guardian.sex]}}</td>
                {% if personID != null %} <td><a href="/{{ associationAction }}/{{ guardian[0] }}/{{ personID }}">Seleccionar</a></td> {% endif %}
              <td><a href="/updateGuardian/{{ guardian.id }}">Editar</a>
              </td>
              <td><a href="/deleteGuardian/{{ guardian.id }}">Borrar</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for i in 0..(guardiansAmount//paginationNumber) %}
                    <li><a href="/listGuardians/{{ i }}">{{ i+1 }}</a></li>
                {% endfor %}
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}

    <a href="/addGuardian" class="btn btn-lg btn-success pull-right">Add</a>
  </div>
{% endblock %}
