{% extends 'common/base.html.twig' %}

{% block title %}Alta de usuarios{% endblock %}

{% block head %}
    {{ parent() }}
    {#<script src="/js/UpdateUser.js"></script>#}
    <script type="application/javascript">
        $(document).ready (function()
        {
            $('#role').val({{ user.role }});

            {% if user.enabled == 1 %}
                $('#enabled').attr("checked","");
            {% endif %}
        });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}
<div class="container">
    <h2 class="page-header">
        {% if user.id==null or user.id=='' %}
        Agregar usuario
        {% else %}
        Editar usuario
        {% endif %}
    </h2>
    <div class="col-md-6 col-md-offset-3">
        <form action="/{{ action }}" method="post" class="form-horizontal">

            <label for="username">Nombre de usuario:</label>
            <input type="text" name="username" class="form-control" value="{{user.username}}" required >

            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" required >

            <label for="email">Email de usuario:</label>
            <input type="email" name="email" class="form-control" value="{{ user.email }}" required >

             <div class="checkbox">
                 <label>
                     <input type="checkbox" id="enabled" name="enabled" value="1"> Habilitado
                 </label>
             </div>

            <label for="role">Rol:</label>
            <select id="role" name="role" class="form-control">
                  <option value="" disabled selected>Selecciona una opci&oacute;n</option>
                  <option value="1">Administraci&oacute;n</option>
                  <option value="2">Gesti&oacute;n</option>
                  <option value="3">Consulta</option>
            </select>

            <input type="hidden" name="id" value="{{ user.id }}">
            <br>
            <br>

            <a class="btn btn-lg btn-success pull-right" type="submit">Enviar Datos</a>
         </form>
    </div>
</div> <!-- /container -->
{% endblock %}


