{% extends '/common/base.html.twig' %}

{% block title %}Calendario de cuotas pagas{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/calendar.css">
    {{ parent() }}

    <script src="/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">

        <h1 class="page-header">
            Pagos del alumno
        </h1>
        <h2 class="sub-header">Cuotas pagas</h2>
        <form method="POST" action="/calendarAction">

            <label >Seleccione el DNI</label>
            <input type="number" name="dni" value="21" required >

            <label >Seleccione el year</label>
            <input type="number" name="year" value="2016" required >

            <input type="submit" name="enviar" value="Enviar">
        </form>
        {% if cuotasPagas!=null %}
            <div class="calendar-container">
                <div class="form-group">
                    <div class="row">
                        <div class="calendar">
                            <div id="datetimepicker12"></div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker12').datetimepicker({
                            inline: true,
                            sideBySide: false
                        });

                        function wait(){
                            $('.day').removeClass('active');

                            {% for pago in cuotasPagas %}
                                $('.day[data-day="{{ pago.fechaDePago }}"]').addClass('active');
                            {% endfor %}
                            setTimeout(wait,100);
                        }
                        wait ();
                    });
                </script>
            </div>
            <h1 class="page-header">
                Cuotas por pagar
            </h1>
            <table class="table table-striped" id="table">
                <tr class="even">
                    <th> id </th>
                    <th> month </th>
                    <th> year </th>
                    <th> amount </th>
                </tr>
                {% for cuota in cuotasPorPagar %}
                    <tr class="odd">
                        <td>
                            {{ cuota.id }}
                        </td>
                        <td>
                            {{ cuota.month }}
                        </td>
                        <td>
                            {{ cuota.year }}
                        </td>
                        <td>
                            {{ cuota.amount }}
                        </td>
                    </tr>
                {% endfor %}




            </table>

        {% endif %}
    </div>

{% endblock %}
