{% extends 'common/base.html.twig' %}

{% block title %}Listado de usuarios{% endblock %}

{% block head %}
    {{ parent() }}
    {#<script src="/js/UpdateUser.js"></script>#}
    <link rel="stylesheet" href="/css/AltaUsuario.css">

{% endblock %}

{% block body %}

    <div class="container">

		<h2 class="sub-header">Usuarios</h2>

		{% if users|length  == 0 %}
            <p>No hay usuarios.</p>
        {% endif %}
        {% if users|length  > 0 %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr class="even">
                        <th>Nombre de usuario</th>
                        <th>Email</th>
                        <th>Habilitado</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for user in users %}
                        <tr class="{% if users.odd == true  %}">odd{% else %}even{% endif %}">
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.enabled }}</td>
                            <td><a href="/updateUser/{{ user.id }}">Edit</a>
                            </td>
                            <td><a href="/deleteUser/{{ user.id }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

		<a href="/addUser" class="btn btn-lg btn-success pull-right">Add</a>
	</div>
{% endblock %}
