{% extends 'base.html.twig' %}

{% block title %}Alta de usuarios{% endblock %}

{% block head %}
    {{ parent() }}
    {#<script src="/js/UpdateUser.js"></script>#}
    <link rel="stylesheet" href="/css/AltaUsuario.css">
    <script type="application/javascript">
        $(document).ready (function()
        {
            $('#rol').val({{ user.rol }});
        });
    </script>
{% endblock %}

{% block body %}
<div class="container">
     <form action="/{{ action }}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Alta de usuario</h2>

        <label for="username">Nombre de usuario:</label>
        <input type="text" name="username" class="form-control" value="{{user.username}}" required >

        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" required >

        <label for="email">Email de usuario:</label>
        <input type="email" name="email" class="form-control" value="{{ user.email }}" required >

         <div class="checkbox">
             <label>
                 <input type="checkbox" value="habilitado"> Habilitado
             </label>
         </div>

        <label for="rol">Rol:</label>
        <select id="rol" name="rol" class="form-control">
              <option value="" disabled selected>Selecciona una opci&oacute;n</option>
              <option value="0">Administraci&oacute;n</option>
              <option value="1">Gesti&oacute;n</option>
              <option value="2">Consulta</option>
        </select>

        <input type="hidden" name="id" value="{{ user.id }}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar Datos</button>
     </form>
</div> <!-- /container -->
{% endblock %}
