{% extends '/common/base.html.twig' %}

{% block title %}Listado de usuarios{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block body %}
  {{ parent() }}
    <div class="container">

		<h2 class="sub-header">Usuarios</h2>

		{% if users|length  == 0 %}
            <p>No hay usuarios.</p>
        {% endif %}
        {% if users|length  > 0 %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr class="even">
                        <th>Nombre de usuario</th>
                        <th>Email</th>
                        <th>Habilitado</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for user in users %}
                        <tr class="{% if users.odd == true  %}">odd{% else %}even{% endif %}">
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.enabled }}</td>
                            <td><a href="/updateUser/{{ user.id }}">Edit</a>
                            </td>
                            <td><a href="/deleteUserAction/{{ user.id }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {% for i in 0..( usersAmount // paginationNumber ) %}
                        <li><a href="/listUsers/{{ i }}">{{ i+1 }}</a></li>
                    {% endfor %}
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}

		<a href="/addUser" class="btn btn-lg btn-success pull-right">Add</a>
	</div>
{% endblock %}
