{% extends '/common/base.html.twig' %}

{% block title %}Alta de usuarios{% endblock %}

{% block head %}
    {{ parent() }}

    <script type="application/javascript">
        $(document).ready (function()
        {
            $('#role').val({{ user.roleid }});
            $('#enabled').val({{ user.enabled }});

            {% if user.enabled == 1 %}
                $('#enabled').attr("checked","");
            {% endif %}

            $('#role').change(function() {
                if ($('#role').val() == 3)
                {
                    $('#guardian').css ('display','block');
                }
                else
                {
                    $('#guardian').css ('display','none');
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}
<div class="container">
    <h2 class="page-header">
        {% if user.id==null or user.id=='' %}
        Agregar usuario
        {% else %}
        Editar usuario
        {% endif %}
    </h2>
    <div class="col-md-6 col-md-offset-3">
        <form action="/{{ action }}" method="post" class="form-horizontal">

            <label for="username">Nombre de usuario:</label>
            <input type="text" name="username" class="form-control" value="{{user.username}}" required >

            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" required >

            <label for="email">Email de usuario:</label>
            <input type="email" name="email" class="form-control" value="{{ user.email }}" required >


            <label for="enabled">Habilitado:</label>
            <select id="enabled" name="enabled" class="form-control" required>

                <option value="0">No</option>
                <option value="1">Si</option>

            </select>

            <label for="role">Rol:</label>
            <select id="role" name="role" class="form-control" required>
                  <option value="" disabled {% if user.id==null %}selected{% endif %} }}>Selecciona una opci&oacute;n</option>
                  <option value="1">Administraci&oacute;n</option>
                  <option value="2">Gesti&oacute;n</option>
                  <option value="3">Consulta</option>
            </select>

            <div id="guardian">
                <label>Acci&oacute;n del responsable:</label>
                <select id="guardianType" name="guardianType" class="form-control">
                    <option value="createGuardian">Crear Responsable</option>
                    <option value="chooseGuardian">Elegir Responsable </option>
                </select>
            </div>

            <input type="hidden" name="id" value="{{ user.id }}">
            <br>
            <br>

            <button class="btn btn-lg btn-success pull-right" type="submit">Enviar Datos</button>
         </form>
    </div>
</div> <!-- /container -->
{% endblock %}


